version: "3.8"

networks:
  cluster-network:

services:

    config-app:
      container_name: config-app
      image: tiggomark/config-app:latest
      ports:
        - "8888:8888"
      networks:
        - cluster-network

    eureka-server-app:
      container_name: eureka-server-app
      image: tiggomark/eureka-server-app:latest
      ports:
        - "8761:8761"
      depends_on:
        - config-app
      networks:
        - cluster-network

    api-gateway-app:
      container_name: api-gateway-app
      image: tiggomark/api-gateway-app:latest
      ports:
        - "8081:8081"
      depends_on:
        - config-app
        - eureka-server-app
      networks:
        - cluster-network

    customer-app:
      image: tiggomark/customer-app:latest
      depends_on:
        - config-app
        - eureka-server-app
        - api-gateway-app
        - database-app
      networks:
        - cluster-network

    database-app:
      container_name: database-app
      image: mysql:5.7.38
      restart: unless-stopped
      environment:
        - MYSQL_ROOT_PASSWORD=leghacy150991
        - MYSQL_DATABASE=customer_app

      ports:
        - "3306:3306"
      volumes:
        - db:/var/lib/mysql5
      networks:
        - cluster-network

volumes:
  db:
